In [29]:
#mini project

In [ ]:
#Banking management system

In [21]:
import sqlite3

# Database connection
conn = sqlite3.connect("atm.db")
curr = conn.cursor()

# Table create (run once)
curr.execute('''
CREATE TABLE IF NOT EXISTS accounts (
    acc_no INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    pin TEXT,
    balance REAL
)
''')
conn.commit()
print("table successfully created.")

table successfully created.

In [12]:
def create_account(name, pin, balance):
    curr.execute("INSERT INTO accounts (name, pin, balance) VALUES (?, ?, ?)", (name, pin, balance))
    conn.commit()
    print(" Account created successfully!")

# Example
create_account("rahul", "0618", 55000)
create_account("nehal", "2510", 100000)

 Account created successfully!
 Account created successfully!

In [22]:
def login(acc_no, pin):
    curr.execute("SELECT * FROM accounts WHERE acc_no=? AND pin=?", (acc_no, pin))
    user = curr.fetchone()
    if user:
        print(f" Welcome {user[1]}!")
        return user
    else:
        print(" Invalid account number or PIN.")
        return None

In [23]:
def check_balance(acc_no):
    curr.execute("SELECT balance FROM accounts WHERE acc_no=?", (acc_no,))
    balance = curr.fetchone()[0]
    print(f"Current Balance: ₹{balance}")

In [24]:
def deposit(acc_no, amount):
    curr.execute("UPDATE accounts SET balance = balance + ? WHERE acc_no=?", (amount, acc_no))
    conn.commit()
    print(f" ₹{amount} deposited successfully.")

In [25]:
def withdraw(acc_no, amount):
    curr.execute("SELECT balance FROM accounts WHERE acc_no=?", (acc_no,))
    current_balance = curr.fetchone()[0]

    if amount > current_balance:
        print(" Insufficient balance!")
    else:
        curr.execute("UPDATE accounts SET balance = balance - ? WHERE acc_no=?", (amount, acc_no))
        conn.commit()
        print(f" ₹{amount} withdrawn successfully.")

In [26]:
def atm_menu():
    print("===== Welcome to Python ATM =====")
    print("welcome user!")
    acc_no = int(input("Enter Account Number: "))
    pin = input("Enter PIN: ")

    user = login(acc_no, pin)
    if not user:
        return

    while True:
        print("\n--- Menu ---")
        print("1. Check Balance")
        print("2. Deposit")
        print("3. Withdraw")
        print("4. Exit")
        choice = input("Enter your choice: ")

        if choice == '1':
            check_balance(acc_no)
        elif choice == '2':
            amt = float(input("Enter amount to deposit: ₹"))
            deposit(acc_no, amt)
        elif choice == '3':
            amt = float(input("Enter amount to withdraw: ₹"))
            withdraw(acc_no, amt)
        elif choice == '4':
            print(" Thank you for using the ATM. Bye!")
            break
        else:
            print("Invalid choice.")

In [27]:
curr.execute("SELECT * FROM accounts")
print(curr.fetchall())

[(9, 'rahul', '0618', 55000.0), (10, 'nehal', '2510', 100000.0)]

In [28]:
atm_menu()
conn.close()

===== Welcome to Python ATM =====
welcome user!
Enter Account Number: 10
Enter PIN: 2510
 Welcome nehal!

--- Menu ---
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice: 1
Current Balance: ₹100000.0

--- Menu ---
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice: 2
Enter amount to deposit: ₹2500
 ₹2500.0 deposited successfully.

--- Menu ---
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice: 3
Enter amount to withdraw: ₹2000
 ₹2000.0 withdrawn successfully.

--- Menu ---
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice: 1
Current Balance: ₹100500.0

--- Menu ---
1. Check Balance
2. Deposit
3. Withdraw
4. Exit
Enter your choice: 4
 Thank you for using the ATM. Bye!